.button {
    background-color: green;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 4px;
    padding: 10x 25px;
    font-size: 20px;

    &.cerrar {
        background-color: #fff;
        border: solid 1px red;
        color: red;
    }
    &.aceptar {
        background-color: #fff;
        border: solid 1px blue;
        color: blue;
    }
}